@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/media-queries";

.cart-result {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1530px;
    margin: 32px auto 0;
    gap: 32px;
    padding: 0 32px;

    &__main {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__container {
        margin-top: 24px;
        width: 100%;
        padding: 24px 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
        border-radius: 8px;
        background: #fff;
    }

    &__container-title {
        width: 100%;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
        color: var(--back-color);
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(91, 90, 90, 0.2);
    }

    &__title {
        align-self: center;
        font-weight: 500;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0;
        color: var(--back-color);
    }

    &__subtitle {
        margin-top: 4px;
        align-self: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--back-color);
        margin-bottom: 32px;
    }

    /* --- TABLE --- */
    &__table {
        width: 100%;
        border-collapse: collapse;
        font-size: 16px;

        thead {
            background-color: rgba(0, 0, 0, 0.03);

            th {
                text-align: left;
                padding: 16px 12px;
                font-weight: 500;
                border-bottom: 1px solid rgba(0, 0, 0, 0.08);
            }
        }

        tbody tr {
            border-bottom: 1px solid rgba(0, 0, 0, 0.06);

            td {
                padding: 16px 12px;
                vertical-align: top;

                strong {
                    margin-left: 4px;
                }
            }
        }

        tfoot tr {
            th, td {
                padding: 16px 12px;
                font-size: 18px;
                font-weight: 600;

                @include mobile-screen {
                    font-size: 16px;
                }
            }

            th {
                text-align: left;
            }
        }

        .text-right {
            text-align: right;
        }
    }
}

/* Adaptivity */
@media (max-width: 600px) {
    .cart-result__table {
        font-size: 14px;

        th, td {
            padding: 12px 8px !important;
        }
    }
}
