@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/media-queries";

.promo-accordion {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 120px 100px;
    gap: 90px;

    display: flex;
    flex-direction: column;

    @include mobile-screen {
        padding: 60px 20px;
    }


    &__header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;

        @include mobile-screen {
            flex-direction: column;
            align-items: stretch;
            gap: 20px;
        }
    }

    &__label {
        max-width: 443px;
        font-weight: 200;
        font-size: 20px;
        line-height: 130%;
        vertical-align: middle;

        @include mobile-screen {
            font-size: 18px;
        }
    }

    &__title {
        max-width: 443px;
        font-weight: 300;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: -2%;
        text-align: left;

        @include mobile-screen {
            font-size: 32px;
        }
    }

    &__footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @include mobile-screen {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
    }
    &__subtitle{
        font-weight: 300;
        font-size: 22px;
        line-height: 29.7px;
        letter-spacing: 0;
        vertical-align: middle;
        max-width: 483px;

        @include mobile-screen {
            text-align: center;
        }
    }


    &__container {
        user-select: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #A5A5A5;


        &.is-open {
            .promo-accordion__item-body {
              //  padding: 40px 0;
            }
        }
    }



    &__item-header {
        width: 100%;
        display: grid;
        grid-template-columns: 30px 1fr 1fr 45px;
        grid-gap: 40px;
        align-items: center;
        padding:  0 0 40px;

        @include mobile-screen {
            display: flex;
            flex-direction: column;
            align-items: start;
        }
    }

    &__item-header-num {
        font-weight: 200;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 0;
        vertical-align: middle;
    }

    &__item-header-title {
        font-weight: 200;
        font-size: 30px;
        line-height: 130%;
        letter-spacing: -3%;

        max-width: 370px;
    }

    &__item-header-text {
        font-weight: 200;
        font-size: 17px;
        line-height: 140%;
        letter-spacing: -2%;
        max-width: 400px;
    }

    &__item-header-btn {
        width: 45px;
        height: 45px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        font-weight: 600;
        font-size: 32px;
        line-height: 80%;
        vertical-align: middle;
        text-transform: uppercase;

        border: 1px solid #BE5293;
        color: #BE5293;
        border-radius: 50%;
    }

    &__item-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.35s ease;
    }

    &__item-body-inner {
        padding: 0 0 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include mobile-screen {
            padding: 0 0 30px;
        }
    }

    &__item-body-item {
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        grid-gap: 20px;

        @include mobile-screen {
            grid-template-columns: 1fr 1fr;
        }

    }

    &__item-body-item-title {
        font-weight: 300;
        font-size: 17px;
        line-height: 140%;
        letter-spacing: -2%;

        @include mobile-screen {
            font-weight: 300;
            font-size: 15px;
        }

    }

    &__item-body-item-price {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0;
        vertical-align: middle;
        text-transform: uppercase;

        @include mobile-screen {
            justify-self: flex-end;
        }
    }

    &__item-body-item-link {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0;
        vertical-align: middle;


        justify-self: flex-end;
    }




}
